@import '../../index.scss';

.home-page{
    width : 100%;
    padding : 20px;
    // border : 2px solid red;

    &__title{
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        color : $primary-color;
        margin-bottom: 2rem;
    }

    &__pagination-container{
        width: 90%;
        margin: 2rem auto;
        display: flex;
        justify-content: start;
        align-items: center;
        // border: 1px solid red;
    }

    &__btn{
        width : auto;
        border: none;
        border-radius: 20px;
        font-size: 2rem;
        background-color: $primary-color;
        color : white;
        padding : 10px 20px;
        cursor: pointer;
    }


}